* {
    background-color: #000;
    box-sizing: border-box;
    color: #666;
    font-family: Calibri, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

#titulo {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 5em;
}

#subtitulo {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 5em;
}

#descricao {
    font-size: 1em;
    text-align: center;
}

@media screen and (min-width: 768px) {
    #titulo {
        font-size: 2em;
    }
    #subtitulo {
        font-size: 2em;
    }
    #descricao {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    #titulo {
        font-size: 3em;
    }
    #subtitulo {
        font-size: 3em;
    }
    #descricao {
        font-size: 2em;
    }
}